<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary py-4" data-bs-theme="dark" id="page-header__user-links" >
  <div class="container-fluid">
    <a class="navbar-brand" id="home" href="/">
      <i class="fa-solid fa-map-location fa-2xl pe-3"></i>
      Wiki-Map
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="left-corner-navbar">

      </ul>
      <div id="right-corner-navbar"></div>
    </div>
  </div>
</nav>
