<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-map-location fa-2xl p-3"></i>
      Wiki-Map
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse space-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favorite Map</a>
        </li>
      </ul>

      <div>
        <button class="btn btn-link text-info me-3">Create an account</button>
        <button class="btn btn-light">Login</button>
      </div>
    </div>
  </div>
</nav>

