#map-box {
  border: 1px solid black;
  height: 600px;
  width: 800px;
  margin-top: 4em;
}

#main-box {
  display: flex;
  justify-content: space-around;
}


#login-box {
  margin: auto;
    border: 1px solid black;
    width: 50%;
    margin-top: 40px;
    padding: 2em;
}
